
ion-tab-button:hover  ion-label  {
    color : var(--ion-color-success, #8CD315) !important;
}

.tab-selected {
    color : var(--ion-color-success, #8CD315) !important;
}

.icon {
    font-size: 25px !important;
}