<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home" color="success" class="icon"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="categories">
      <ion-icon name="apps" color="success" class="icon"></ion-icon>
      <ion-label>Categories</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon name="search" color="success" class="icon"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="basket">
      <ion-icon name="cart" color="success" class="icon"></ion-icon>
      <ion-label>Bucket</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
