.icon {
    position: absolute;
    right: 1em;
    font-size: 1.1em;
    
}

ion-item {
    margin-left: -15px;
}

ion-label {
    margin-left: 10px;
}

.sub-item {
    margin-left: 30px;
}

.active {
    font-weight: 600;
}

.list-md {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}