<ion-header>
  <app-sub-header [name]="'Change Password'"></app-sub-header>
</ion-header>

<ion-content>
  <div class="container p-1 border shadow ">
    <div class="image-container"> 
      <img src="/assets/images/logo.png" class="logo">
    </div>
    <div class="">
        <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
          <ion-item lines="full">
            <ion-label position="floating">New Password</ion-label>
            <ion-input type="text" placeholder="Password"  formControlName="password"></ion-input>
          </ion-item>
          <ion-item lines="full">
            <ion-label position="floating">Code</ion-label>
            <ion-input type="text" placeholder="Code" formControlName="code"></ion-input>
          </ion-item>
          <ion-button color="success" type="submit" [disabled]="!changePasswordForm.valid" class="w-100">Change Password</ion-button>
        </form>
    </div>
  </div>
</ion-content>