<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-light ftco-navbar-light shadow" id="ftco-navbar">
    <div class="container">
      <a class="navbar-brand  " href="index.html">
          <img src="/assets/images/logo.png" height="45" width="150">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <ion-icon name="reorder-three-outline"></ion-icon>
      </button>

      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          <!-- <li class="nav-item active"><a href="index.html" class="nav-link">Home</a></li>-->
          <li class="nav-item "><a href="index.html" class="nav-link">Get App</a></li> 
          
         
        </ul>
      </div>
    </div>
  </nav>

<ion-content>
    <section>


        <div class="row">
            <div class="col-12">
                <!-- banner start -->
                <ion-slides class="banner" pager="false" #bannerSlider [options]="slideBannerOpts"
                    (ionSlidesDidLoad)="slidesDidLoad(bannerSlider)" autoplayDisableOnInteraction="false">
                    <ion-slide>
                        <img src="/assets/images/Banner-1.jpg" height="300">
                    </ion-slide>
                    <ion-slide>
                        <img src="/assets/images/Banner-2.jpg" height="300">
                    </ion-slide>
                    <ion-slide>
                        <img src="/assets/images/banner-03.jpg" height="300">
                    </ion-slide>

                </ion-slides>
                <!-- banner end -->
            </div>
        </div>
    </section>

    <section class="own-section">
        <div class="container pt-5 pb-5 ">
            <div class="row no-gutters own-services">
                <div class="col-md-3 text-center d-flex align-self-stretch own-animate">
                    <div class="media block-6 services mb-md-0 mb-4">
                        <div class="icon bg-item-pink active d-flex justify-content-center align-items-center mb-2">
                            <span class="flaticon-shipped"></span>
                        </div>
                        <div class="media-body">
                            <h3 class="heading">Free Shipping</h3>
                            <span>On order over $100</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 text-center d-flex align-self-stretch own-animate">
                    <div class="media block-6 services mb-md-0 mb-4">
                        <div class="icon bg-item-success d-flex justify-content-center align-items-center mb-2">
                            <span class="flaticon-diet"></span>
                        </div>
                        <div class="media-body">
                            <h3 class="heading">Always Fresh</h3>
                            <span>Product well package</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 text-center d-flex align-self-stretch own-animate">
                    <div class="media block-6 services mb-md-0 mb-4">
                        <div class="icon bg-item-blue d-flex justify-content-center align-items-center mb-2">
                            <span class="flaticon-award"></span>
                        </div>
                        <div class="media-body">
                            <h3 class="heading">Superior Quality</h3>
                            <span>Quality Products</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 text-center d-flex align-self-stretch own-animate">
                    <div class="media block-6 services mb-md-0 mb-4">
                        <div class="icon bg-item-yellow d-flex justify-content-center align-items-center mb-2">
                            <span class="flaticon-customer-service"></span>
                        </div>
                        <div class="media-body">
                            <h3 class="heading">Support</h3>
                            <span>24/7 Support</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="own-section own-no-pb own-no-pt bg-light-color">
        <div class="container">
            <div class="row">
                <div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center">
                    <img src="/assets/images/supermarket.jpg" class="h-75 w-100">
                </div>
                <div class="col-md-7 py-5 wrap-about pb-md-5 own-animate">
                    <div class="heading-section-bold mb-4 mt-md-5">
                        <div class="ml-md-0">
                            <h2 class="mb-4">Welcome to Bheeshma Grocery.</h2>
                        </div>
                    </div>
                    <div class="pb-md-5">
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                            there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the
                            Semantics, a large language ocean.</p>
                        <p>But nothing the copy said could convince her and so it didn’t take long until a few insidious
                            Copy Writers ambushed her, made her drunk with Longe and Parole and dragged her into their
                            agency, where they abused her for their.</p>
                        <p><a href="#" class="btn btn-success">Get App Now</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="own-section own-category own-no-pt">
        <div class="container">
            <div class="row pt-5 pb-5">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6 order-md-last mb-4 align-items-stretch d-flex center-div">
                            <div class="category-wrap-2 own-animate img align-self-stretch d-flex"
                                style="background-image: url('/assets/images/categories.jpg') ; background-size: cover; background-repeat: no-repeat; background-position: center center; ">
                                <div class="text text-center ">
                                    <h2 class="text-center text-success">Bheeshma Grocery</h2>
                                    <p>Protect the health of every home</p>
                                    <p><a href="#" class="btn btn-success">Get App Now</a></p>
                                    <p><a href="#" class="">Or</a></p>
                                    <p><a href="#" class="">Browse In Mobile</a></p>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <div class="category-wrap own-animate img mb-4 d-flex align-items-end"
                                style="background-image: url('/assets/images/category-grains.jpg') ; background-size: cover; background-repeat: no-repeat; background-position: center center; ">
                                <div class="text px-3 py-1">
                                    <h2 class="mb-0 mt-0"><a href="#">Grains & Pulses</a></h2>
                                </div>
                            </div>
                            <div class="category-wrap own-animate img d-flex align-items-end"
                                style="background-image: url('/assets/images/category-dairy.jpg') ; background-size: cover; background-repeat: no-repeat; background-position: center center; ">
                                <div class="text px-3 py-1">
                                    <h2 class="mb-0 mt-0"><a href="#">Dairy</a></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-4">
                    <div class="category-wrap own-animate img mb-4 d-flex align-items-end"
                        style="background-image: url('/assets/images/category-tea.jpg') ; background-size: cover; background-repeat: no-repeat; background-position: center center; ">
                        <div class="text px-3 py-1">
                            <h2 class="mb-0 mt-0"><a href="#">Tea & Coffee</a></h2>
                        </div>
                    </div>
                    <div class="category-wrap own-animate img d-flex align-items-end"
                        style="background-image: url('/assets/images/category-4.jpg') ; background-size: cover; background-repeat: no-repeat; background-position: center center; ">
                        <div class="text px-3 py-1">
                            <h2 class="mb-0 mt-0"><a href="#">Dry Fruits</a></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="own-section">
        <div class="container">
            <div class="row justify-content-center mb-3 pb-3">
                <div class="col-md-12 heading-section text-center own-animate">
                    <span class="subheading text-success">Featured Products</span>
                    <h2 class="mb-4 ">Our Products</h2>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3 own-animate">
                    <div class="product">
                        <a href="#" class="img-prod"><img class="img-fluid" src="/assets/images/Food_grains_oils.jpg"
                                alt="Food Grain Oils & Masala">
                            <span class="status">30%</span>
                            <div class="overlay"></div>
                        </a>

                    </div>
                </div>
                <div class="col-md-6 col-lg-3 own-animate">
                    <div class="product">
                        <a href="#" class="img-prod"><img class="img-fluid" src="/assets/images/Bakery.jpg"
                                alt="Balery, cakes & Dairy">
                            <span class="status">30%</span>
                            <div class="overlay"></div>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 own-animate">
                    <div class="product">
                        <a href="#" class="img-prod"><img class="img-fluid" src="/assets/images/Gourmet.jpg"
                                alt="Gourmet & World Foods">
                            <span class="status">30%</span>
                            <div class="overlay"></div>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 own-animate">
                    <div class="product">
                        <a href="#" class="img-prod"><img class="img-fluid" src="/assets/images/Cleaning.jpg"
                                alt="Cleaning & Households">
                            <span class="status">30%</span>
                            <div class="overlay"></div>
                        </a>
                    </div>
                </div>


                <div class="col-md-6 col-lg-3 own-animate">
                    <div class="product">
                        <a href="#" class="img-prod"><img class="img-fluid" src="/assets/images/Beverages.jpg"
                                alt="Beverages">
                            <span class="status">30%</span>
                            <div class="overlay"></div>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 own-animate">
                    <div class="product">
                        <a href="#" class="img-prod"><img class="img-fluid" src="/assets/images/Eggs_Meat.jpg"
                                alt="Eggs, Maet & Mutton">
                            <span class="status">30%</span>
                            <div class="overlay"></div>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 own-animate">
                    <div class="product">
                        <a href="#" class="img-prod"><img class="img-fluid" src="/assets/images/Garden_pets.jpg"
                                alt="Garden & Pets">
                            <span class="status">30%</span>
                            <div class="overlay"></div>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 own-animate">
                    <div class="product">
                        <a href="#" class="img-prod"><img class="img-fluid" src="/assets/images/Baby_care.jpg"
                                alt="Baby Care">
                            <span class="status">30%</span>
                            <div class="overlay"></div>
                        </a>
                    </div>
                </div>





            </div>
        </div>
    </section>

    <section class="own-section own-partner bg-light-color">
        <div class="container">

            <div class="row">
                <div class="col-sm own-animate">
                    <a href="#" class="partner text-center"><ion-icon name="logo-apple"></ion-icon></a>
                </div>
                <div class="col-sm own-animate">
                    <a href="#" class="partner text-center"><ion-icon name="logo-chrome"></ion-icon></a>
                </div>
                <div class="col-sm own-animate">
                    <a href="#" class="partner text-center"><ion-icon name="logo-android"></ion-icon></a>
                </div>

            </div>
        </div>
    </section>


    <footer class="own-footer own-section">
        <div class="container">
            <div class="row">
                <div class="mouse">
                    <a href="#" class="mouse-icon">
                        <div class="mouse-wheel"><span class="ion-ios-arrow-up"></span></div>
                    </a>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-md">
                    <div class="own-footer-widget mb-4">
                        <h2 class="own-heading-2">
                            <img src="/assets/images/logo.png" height="45" width="150"> 
                        </h2>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
                        <ul class="own-footer-social list-unstyled float-md-left float-lft ">
                            <li class="own-animate"><a href="#"><ion-icon color="success" name="logo-twitter"></ion-icon></a></li>
                            <li class="own-animate"><a href="#"><ion-icon color="success" name="logo-instagram"></ion-icon></a></li>
                            <li class="own-animate"><a href="#"><ion-icon color="success" name="logo-facebook"></ion-icon></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="own-footer-widget mb-4 ml-md-5">
                        <h2 class="own-heading-2">Menu</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-2 d-block">Home</a></li>
                            <li><a href="#" class="py-2 d-block">About</a></li>
        
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="own-footer-widget mb-4">
                        <h2 class="own-heading-2">Help</h2>
                        <div class="d-flex">
                            <ul class="list-unstyled mr-l-5 pr-l-3 mr-4">

                                <li><a href="#" class="py-2 d-block">Terms &amp; Conditions</a></li>
                                <li><a href="#" class="py-2 d-block">Privacy Policy</a></li>
                            </ul>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="own-footer-widget mb-4">
                        <h2 class="own-heading-2">Contact Us</h2>
                        <div class="block-23 mb-3">
                            <ul class="list-unstyled">
                                <li><span class="text">330, Raja Ram Gali, Yamunanagar</span></li>
                                <li><a href="#"><span class="text">+91 9996032325</span></a></li>
                                <li><a href="#"><span
                                            class="text">info@Bheeshma-grocery.com</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </footer>
</ion-content>