<ion-header>
  <app-sub-header [name]="'Forget Password'"></app-sub-header>
</ion-header>

<ion-content>
  <div class="container p-1 border shadow ">
    <div class="image-container"> 
      <img src="/assets/images/logo.png" class="logo">
    </div>
    <div class="">
        <form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()">
          <ion-item lines="full">
            <ion-label position="floating">Email or Phone</ion-label>
            <ion-input type="text" placeholder="Email or Phone" formControlName="email" ></ion-input>
          </ion-item> 
          <ion-button color="success" type="submit" [disabled]="!forgetPasswordForm.valid"  class="w-100">Next</ion-button>
        </form>
    </div>
  </div>
</ion-content>