<!-- 

 <ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button autoHide="false" color="success"></ion-menu-button>
  </ion-buttons>

  <ion-buttons slot="end">
    <ion-button (click)="goToAccountPage()">
      <ion-icon class="account_icon" slot="icon-only" color="success" name="person-circle"></ion-icon>
    </ion-button>
  </ion-buttons>

  <ion-title class="ion-justify-content-center text-center mr-5" >
    <img src="/assets/images/logo.png" class="logo"/>
  </ion-title>

</ion-toolbar> -->


<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button autoHide="false" color="success"></ion-menu-button>
  </ion-buttons>

  <ion-buttons slot="end">
    <ion-button (click)="goToAccountPage()">
      <ion-icon class="account_icon" slot="icon-only" color="success" name="person-circle"></ion-icon>
    </ion-button>
  </ion-buttons>

  <ion-title color="success" class="ion-justify-content-center text-center mr-5 w-100"  >
    <img src="/assets/images/logo.png" class="logo"/>
  </ion-title>

</ion-toolbar>

